.contacts-section {
    width: 30%;
    height: 100%;
    border-right: 2px solid gray;
}

.contacts-section-header {
    width: 100%;
    height: 50px;
    border-bottom: 2px solid gray;
}

.user-header {
    float: left;
    height: 100%;
    width: calc(100% - 50px);
}

.user-header-title {
    float: left;
    height: 100%;
    padding: 5px;
    width: calc(100% - 70px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font: bold 18px 'Lato', sans-serif;
}

.contacts-section-header-controls {
    float: right;
    height: 100%;
    width: 30px;
}

.add-contact-button {
    position: relative;
    top: 50%;
    left: 50%;
    cursor: pointer;
}

.add-contact-button img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
}

.chat-section {
    float: right;
    width: 70%;
    height: 100%;
}

.chat-section-header {
    width: 100%;
    height: 50px;
    border-bottom: 2px solid gray;
}

.profile-pic {
    float: left;
    width: 70px;
    height: 100%;
}

.profile-pic > img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.chat-section-messages {
    width: 100%;
    height: calc(100% - 100px);
    overflow-y: auto;
    background-image: linear-gradient(to right bottom, var(--main-bright) 0%, var(--main-dark) 100%);;
}

.contacts {
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: auto;
}

.contacts-list {
    width: 100%;
    padding: 0;
}