:root {
    --contacts-section-header-border: gray;
    --icon-button-text: black;
    --icon-button-background-hover: rgba(0, 0, 0, 0.1);
    --popup-background-color: white;
    --contacts-form-help: gray;
}

[data-theme='dark'] {
    --contacts-section-header-border: #1c282e;
    --icon-button-text: #e9edef;
    --icon-button-background-hover: rgba(255, 255, 255, 0.1);
    --popup-background-color: rgba(31, 44, 51, 255);
    --contacts-form-help: #d1d7db;
}

.contacts-section-header {
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--contacts-section-header-border);
}

.user-header {
    float: left;
    height: 100%;
    width: calc(100% - 60px);
    color: var(--primary-text-color);
}

.user-header-title {
    float: left;
    height: 100%;
    padding: 5px;
    width: calc(100% - 70px);
}

.user-header-title > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font: bold 18px 'Lato', sans-serif;
}

.buttons {
    padding: 5px;
    float: right;
    height: 100%;
    flex-shrink: 0;
}

.icon-button {
    background-color: transparent;
    border: none;
    color: var(--icon-button-text);
    padding: 5px 10px 5px 10px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.icon-button:hover {
    background-color: var(--icon-button-background-hover);
}

.icon-button > i {
    font-size: 24px;
}

.profile-pic {
    float: left;
    width: 70px;
    height: 100%;
}

.profile-pic > img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}


.contacts {
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: auto;
}

.add-contact-popup {
    background-color: var(--popup-background-color);
    color: var(--primary-text-color);
}

.contacts-list {
    width: 100%;
    padding: 0;
}

.add-contact-input, .add-contact-input:focus {
    background-color: var(--input-background-color);
    color: var(--primary-text-color);
    border-color: var(--contact-border-color);
}

.form-help {
    color: var(--form-help);
    position: relative;
    top: 10px;
    left: 10px;
    background-color: var(--form-frame-background);
    padding: 0 5px 0 5px;
    user-select: none;
    z-index: 4;
}

.contacts-form-help {
    color: var(--contacts-form-help);
    background-color: var(--popup-background-color);
}

.close-button {
    background-color: transparent;
    border: none;
    color: var(--icon-button-text);
}

.close-button i {
    font-size: 40px;
}

.modal-header {
    border-bottom-color: var(--contact-border-color);
}

.modal-footer {
    border-top-color: var(--contact-border-color);
}