.message {
    padding: 5px;
    flex: 1;
    overflow: auto;
    max-width: 60%;
}

.message-right {
    float: right;
}

.message-left {
    float: left;
}

.message-bubble {
    padding: 5px 10px 5px 10px;
    font: 18px 'Lato', sans-serif;
    color: black;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.message-left > .message-bubble {
    background-color: rgba(223, 255, 182, 1);
    border-radius: 2px 15px 15px 10px;
}

.message-right > .message-bubble {
    background-color: white;
    border-radius: 15px 2px 10px 15px;
}

.message-timestamp {
    font: 14px 'Lato Light', sans-serif;
    color: gray;
    user-select: none;
}

.message-text {
    font: 16px 'Lato', sans-serif;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.message-image, .message-video {
    max-height: 300px;
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}