.message-right, .message-left {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    flex: 1;
    overflow: auto;
}

.message-right {
    float: right;
}

.message-left {
    float: left;
}

.message-left > .message-bubble {
    padding: 5px 10px 5px 10px;
    background-color: rgba(253, 255, 182, 0.8);
    border-radius: 2px 15px 15px 10px;
    font: 18px 'Lato', sans-serif;
    color: black;
    margin: 0;
}

.message-right > .message-bubble {
    padding: 5px 10px 5px 10px;
    background-color: white;
    border-radius: 15px 2px 10px 15px;
    font: 18px 'Lato', sans-serif;
    color: black;
    margin: 0;
}

.message-timestamp {
    font: 14px 'Lato Light', sans-serif;
    color: gray;
    user-select: none;
}

.message-text {
    font: 16px 'Lato', sans-serif;
    white-space: pre-line;
}