main {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to right bottom, #36D1DC 0%, #5B86E5 100%);
}

main #content-frame {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 2% 15% 2% 15%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

#star-list {
    display:inline;
}
#star-list li{
    display: inline;
}