body {
    font-family: 'Lato', sans-serif;
}

main {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to right bottom, #36D1DC 0%, #5B86E5 100%);
}

main #content-frame {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 2% 15% 2% 15%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

main #form-frame {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 25%;
    min-width: 300px;
    transform: translate(-50%, -50%);
    padding: 1%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

.form-title {
    font: 300 50px 'Lato', sans-serif;
    color: black;
    text-align: center;
    margin-bottom: 5%;
}

.submit-button {
    font: 300 16px 'Lato', sans-serif;
    color: white;
    padding: 10px 20px 10px 20px;
    position: relative;
    background-image: linear-gradient(to right, #36D1DC 0%, #5B86E5 100%);
    z-index: 1;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.submit-button:disabled {
    background-image: linear-gradient(to right, #DDDDDD 0%, #CCCCCC 100%);
    color: gray;
}

.submit-button::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, #5B86E5 0%, #36D1DC 100%);
    border-radius: 5px;
    border: none;
    z-index: -1;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.submit-button:hover:not([disabled])::before {
    opacity: 1;
}

.star-list {
    display:inline;
    padding: 5px;
}

.star-list li {
    display: inline;
    padding: 1px;
}

.comments {
    columns: 5;
    column-gap: 10px;
    column-fill: auto;
    max-width: 85%;
    margin: 30px auto;
    overflow: auto;
}

.comment {
    break-inside: avoid;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fafafa;
    text-align: center;
    margin-bottom: 10px;
}

.comment__author {
    font-weight: bold;
    font-size: 1.2em;
    margin: 5px;
}

.comment__text {
    font-size: 1.1em;
    margin: 5px;
}

.comment__date {
    font-family: 'Lato Light', serif;
    font-size: 0.8em;
    margin: 5px;
}

.comment__rating {
    text-align: center;
    margin: 5px;
}

.comment__links {
    text-align: center;
    margin: 5px;
}

.title {
    width: 100%;
    height: 15%;
}

.title h1 {
    font-family: 'Lato Black', sans-serif;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-section, .new-section {
    width: 100%;
}

#search-bar {
    display: inline-block;
    position: relative;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.new-section a {
    margin: 10px;
    text-decoration: none !important;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px 10px;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}